{% extends 'base.html.twig' %}

{% block content %}
    {% block page_home_content %}
        <div>
            <h1>Home Page</h1>
            <p>Welcome to the home page of DineTime</p>
        </div>
    {% endblock %}
{% endblock %}